body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* NAV */
nav {
    background: rgba(0,0,0,0.8);
}

nav ul {
    width: 1020px;
    margin: 0px auto;
}

nav ul li {
    width: 145px;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 2px solid #e2beae;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* MAIN */
.firstPhoto {
    background: black;
}

.firstPhoto img {
    display: block;
    margin: 0px auto;
    position: relative;
    top: 100px;
}

main h2 {
    text-align: center;
    margin-top: 120px;
}

main h2 span {
    font-size: 60px;
}

.section1 img {
    display: block;
    width: 400px;
    margin: 0px auto;
    transform: rotate(15deg);
}

.section2 h2 {
    font-size: 60px;
    margin-top: 0px;
}